body{
    margin-left: 25px;
    margin-right: 25px;
    background-color: rgb(247, 247, 247);
    font-family:'Open Sans', sans-serif;
    font-size: 16px;
}
#header-home-page{
    margin-left: 30px;
    font-size: 75px;
    color: black;
    position: relative;
    margin-bottom: auto;
}
#p1{
    margin-left: 30px;
    font-size: 20px;
    color: black;
    position: relative;
}
#div-home-page{
    position: relative;
    padding: 15px 15px;
    border-radius: 20%;
    /*aici la before trebuie o imagine*/
    &::before {
        content: '';
        top: 0px;
        right: 0px;
        bottom: 0px;
        left:0px;
        position: absolute;
        background-image: url(images/home-modified.jpg);
        background-position: top center;
        background-size: cover;
        opacity: 0.2;
    }
}
#header-istoric{
    text-align: right;
    font-size: 50px;
}
#div-istoric {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px;
    padding: 20px;
    border-radius: 25px;
    background-position: center;
    box-sizing: border-box;
    text-align: right;
    color: black;
    backdrop-filter: blur(3px);
}

#div-istoric img{
    height: auto;
    width: 30vw;
}

#div-istoric-text{
    font-size: 40px;
    text-align: right;
    align-items: right;
    justify-content: right;
}

#div-istoric #p-istoric{
    width: 100%;
    height: auto;
    margin-top: 10px;
    font-size: 20px;
}


#img-istoric {
    height: 300px;
    width: 500px;
    border-radius: 25px;
    margin-top: 0px;
}
#div-metode{
    overflow: auto;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}
#header-metode{
    text-align: center;
    font-size: 50px;
    padding-bottom: 40px;
}

.div-DBS, .div-BCI {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    width: 600px;
 height:100vh; 
    padding: 20px;
    border-radius: 25px;
    background-position: center;
    box-sizing: border-box;
    text-align: center;
    color: black;
    backdrop-filter: blur(3px);
    margin: 20px;

}
.div-DBS{
    background-image:url(images/dbs.jpg);
    background-size: cover;
    margin-left: 80px;
}
.div-BCI{
    background-image: url(images/bci.jpg);
    background-size: cover;
    margin-right: 80px;
}
#header1-DBS,#header1-BCI{
    text-align: center;
    font-size: 40px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 12px;
    transition: opacity 0.5s ease;
}

#header2-DBS,#header2-BCI{
    text-align: center;
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 12px;
    transition: opacity 0.5s ease;
}
#p-DBS, #p-BCI{
    padding:10px 25px 10px 25px;
    font-size: 20px;
    text-align: justify;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 12px;
    transition: opacity 0.5s ease;
    
}

.div-DBS:hover h1,
.div-DBS:hover h3,
.div-DBS:hover p {
    opacity:0;
}

.div-BCI:hover h1,
.div-BCI:hover h3,
.div-BCI:hover p {
    opacity:0;
}

#header1-rezultate{
    text-align: center;
    font-size: 50px;
    padding-bottom: 40px;
}

.headerst{
    text-align: left;
    font-size: 40px;
}
.headerdr{
    text-align: right;
    font-size: 40px;
}
.p-st{
    text-align: left;
    font-size: 20px;
    width: 60%;
}
.p-dr{
    text-align: left;
    font-size: 20px;
   
}
#div-butoane {
    display: flex;
    align-items: center;
}


#container-fim {
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-rez{
    margin: 60px;
}

#div2-rezultate{
    margin-left: 50vw;
}

.fim {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}


#butoane-grup {
    display: flex;
    align-items: center;
    margin-left: auto; 
    gap: 50px;
    border-radius: 25px;
}
#a,#b, #c, #d, #e, #f {
    display: flex;
    align-items: center;
    margin-left: auto; 
    gap: 40px;
    border-radius: 25px;
    border: 2px solid rgba(229,25,34,255);
    width: 150px;
    
}
.butoane {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1px;
    padding-bottom: 1px;
    width: 150px;
    height: 40px;
    font-size: 20px;
    font-weight: 500;
    background-color: rgb(247, 247, 247);

    border-width: 2px;
    border-style: solid; 
    border-color: rgba(229, 25, 34, 1);
    border-radius: 25px;
    color: black;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

#butoane-grup {
    display: flex;
    gap: 40px;
    align-items: center;
}
.butoane:hover {
    background-color: #dcdcdc;
}


.dropdown {
    position: relative;
    display: flex;
    flex-direction: column;
}


.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    border-radius: 15px;
    min-width: 130px;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    flex-direction: column;
}


.dropdown-content a {
    padding: 10px 15px;
    text-decoration: none;
    color: #000;
    display: block;
}


.dropdown:hover .dropdown-content {
    display: flex;
}


.dropdown-content a:hover {
    background-color: #f1f1f1;
    border-radius: 15px;
}


.butoane:hover {
    background-color: rgb(201, 197, 197);
}


#header1-viitor{
    text-align: center;
    font-size: 40px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    width: 100%;
  }
  .cell {
    border: 3px solid black;
    height: 600px;
    border-radius: 40px;
    padding: 20px;
    text-align: center;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;   
    transition: transform 0.3s ease;
}

.p-viitor {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9); 
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    background-color: rgba(255, 255, 255, 0.85);
    color: #007bff;
    padding: 16px 32px;
    border-radius: 12px;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.cell:hover .p-viitor {
    opacity: 1;
    transform: translate(-50%, -50%) scale(0.92);
    pointer-events: auto;
    visibility: visible;
    pointer-events: auto;
}
#cell1{
    background-image: url(images/optogenetica2.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

  }
#cell2{
    background-image: url(images/crioelectronica2.png);
    background-size: cover;
  }
  #cell3{
    background-image: url(images/Inginerie\ Neurală\ și\ Biologie\ Sintetică.png);
    background-size: cover;
  }
  #cell4{
    background-image: url(images/Comunicare\ între\ creiere.png);
    background-size: cover;
  }


#header-footer{
    font-size: 40px;
    padding-bottom: 15px;
    font-weight: 1000;

}
.sociale{
    display: flex;
    gap:20px;
    
}
.sociale a{
    background-color: rgb(226, 219, 219);
    padding: 1em;
    border-radius: 50%;
    height: 64px;
    width: 64px;
    box-sizing: border-box;
    flex-shrink: 0;
    display: grid;
    place-items: center;
    box-shadow: 0 5px 10px rgba(0,0,0,0.05);
}
.sociale a svg{
    height: 32px;
}
.sociale a::before{
    content: attr(data-sociale);
    position: absolute;
    background-color: var(--accent-color);
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 100px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.05);
    transform: translateY(-30px) rotate(25deg);
    opacity: 0;
    transition: 200ms cubic-bezier(.42, 0, .44, 1.68);
}
.sociale a:hover{
    background-color: var(--accent-color);
    fill:white;
}
.sociale a::after{
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid var(--accent-color);
    transform: translateY(0) rotate(25deg);
    opacity: 0;
    transition: 200ms cubic-bezier(.42, 0, .44, 1.68);
}
.sociale a:hover::before{
    transform: translateY(-65px) rotate(0);
    opacity: 1;
}
.sociale a:hover::after{
    transform: translateY(-42px) rotate(0);
    opacity: 1;
}
#div-contact{
    margin-top: 50px;

}
#p-contact{
    font-size: 20px;
    font-weight: 500;
}
#div-copyright{
    position: absolute;
    left:70%;
    margin-top: -200px;
    font-size: 20px;
}
#header-final{
    font-size: 30px;
    font-weight: 750;
}

  

@media screen and (max-width: 960px) {
  

    #header-home-page {
        font-size: 50px;
        margin-left: 15px;
    }

    #p1 {
        font-size: 16px;
        margin-left: 15px;
    }

    #div-home-page {
        padding: 10px;
        border-radius: 10%;
    }

    #header-istoric {
        font-size: 40px;
        text-align: center;
    }

    #div-istoric {
        margin: 30px;
        flex-direction: column;
        align-items: center;
        padding: 15px;
        justify-content: center;
        text-align: center;
    }

    #div-istoric img {
        width: 80%;
    }
    #div-istoric-text {
        font-size: 30px;
        text-align: center;
        align-items: center;
        justify-content: center;
        
    }


  .div-rez{

        width: 90%;
        height: auto;
    }


    #img-istoric {
        width: 100%;
        height: auto;
        margin-top: 10px;
    }

    #div-metode {
        flex-direction: column;
        align-items: center;
        padding-bottom: 20px;
    }

    .div-DBS, .div-BCI {
        width: 90%;
        height: 70vh;
        margin: 10px 0;
    }

    #header1-DBS, #header1-BCI, #header2-DBS, #header2-BCI {
        font-size: 30px;
    }

    #p-DBS, #p-BCI {
        font-size: 16px;
    }



    .grid {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .p-dr{
        text-align: center;
        font-size: 16px;
        width: 100%;
    }
    .p-st{
        text-align: center;
        font-size: 16px;
        width: 100%;
    }

    .headerdr{
        text-align: center;
        font-size: 30px;
    }
    .headerst{
        text-align: center;
        font-size: 30px;
    }

    #header1-rezultate {
        font-size: 40px;
        text-align: center;
    }


#div1-rezultate, #div2-rezultate, #div3-rezultate, #div4-rezultate { 
   
        margin: 20px;
        text-align: center;
        justify-content: center;
        align-items: center;
    }



    .cell {
        height: 400px;
    }

    .p-viitor {
        font-size: 18px;
        padding: 10px 20px;
    }

    #butoane-grup {
        flex-direction: column;
        gap: 20px;
    }

    .butoane {
        font-size: 16px;
    }

    .sociale {
        
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        flex-wrap: wrap;
    }

    #div-contact {
        margin-top: 30px;
        text-align: center;
    }

    #p-contact {
        font-size: 12px;
        text-align: center;
    }
    .sociale a {
        background-color: rgb(226, 219, 219);
        padding: 0.5em;
        border-radius: 50%;
        height: 34px; 
        width: 34px; 
        box-sizing: border-box;
        flex-shrink: 0;
        display: grid;
        place-items: center;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05); 
    }
    
    .sociale a svg {
        height: 18px;
        width: 18px; 
    }
    #header-final{
        font-size:15px;
    }
    #div-copyright {
        font-size: 10px;
        position: static;
        margin-top: 20px;
        text-align: center;
    }
    #header-footer{
        font-size: 20px;
        padding-bottom: 15px;
        font-weight: 1000;
    
    }
}