
body{
    margin-left: 25px;
    margin-right: 25px;
    background-color: rgb(247, 247, 247);
}
#header-home-page{
    font-size: 75px;
    color: black;
    position: relative;
}
#p1{
    font-size: 20px;
    color: black;
    position: relative;
}
#div-home-page{
    position: relative;
    padding: 15px 15px;
    border-radius: 20%;
    /*aici la before trebuie o imagine*/
    &::before {
        content: '';
        top: 0px;
        right: 0px;
        bottom: 0px;
        left:0px;
        position: absolute;
        background-image: url(images/home-modified.jpg);
        background-position: top center;
        background-size: cover;
        opacity: 0.2;
    }
}
#header-istoric{
    text-align: right;
    font-size: 50px;
}

#div-istoric{
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-items: right;
}
#div-istoric #p-istoric{
    text-align: left !important;
    font-size: 20px;
    margin: 0;
    margin-left: 20px;
}
#img-istoric {
    height: 300px;
    width: 500px;
    border-radius: 25px;
    margin-top: 0px;
}
#div-metode{
    overflow: auto;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header-metode{
    text-align: center;
    font-size: 50px;
    padding-bottom: 40px;
}

.div-DBS, #div-BCI {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    float: left;
    width: 600px;
    height: 400px;
    
    padding: 20px;
    border-radius: 25px;
    background-position: center;
    box-sizing: border-box;
    text-align: center;
    color: black;
}
.div-DBS{
    background-image:url(images/dbs.jpg);
    margin-left: 200px;
    background-size: cover;
}
#div-BCI{
    background-image: url(images/bci.jpg);
    background-size: cover;
    margin-right: 200px;
}
#header1-DBS,#header1-BCI{
    text-align: center;
    font-size: 40px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 12px;
    transition: opacity 0.5s ease;
}

#header2-DBS,#header2-BCI{
    text-align: center;
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 12px;
    transition: opacity 0.5s ease;
}
#p-DBS, #p-BCI{
    padding:0px 25px 0px 25px;
    font-size: 20px;
    text-align: justify;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 12px;
    transition: opacity 0.5s ease;
    
}

.div-DBS:hover h1,
.div-DBS:hover h3,
.div-DBS:hover p {
    opacity:0;
}
.div-BCI:hover h1,
.div-BCI:hover h3,
.div-BCI:hover p {
    opacity:0;
}

#header1-rezultate{
    text-align: center;
    font-size: 50px;
    padding-bottom: 40px;
}

.headerst{
    text-align: left;
    font-size: 40px;
}
.headerdr{
    text-align: right;
    font-size: 40px;
}
.p-st{
    text-align: left;
    font-size: 20px;
    width: 60%;
}
.p-dr{
    text-align: justify right;
    font-size:20px;
    width: 60%;
    margin-left: 670px;

}
#div-butoane {
    display: flex;
    align-items: center;
}


#container-fim {
    display: flex;
    align-items: center;
    justify-content: center;
}


.fim {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}


#butoane-grup {
    display: flex;
    align-items: center;
    margin-left: auto; 
    gap: 20px;
}


.butoane {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 200px;
    height: 50px;
    font-size: 30px;
    font-weight: 500;
    background-color: rgb(247, 247, 247);
    border-radius: 25px;
    color: black;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.butoane:hover {
    background-color: rgb(201, 197, 197);
}

