

body{
    margin-left: 25px;
    margin-right: 25px;
    background-color: rgb(247, 247, 247);
    font-family:'Open Sans', sans-serif;
    font-size: 16px;
}
#header-home-page{
    margin-left: 30px;
    font-size: 75px;
    color: black;
    position: relative;
    margin-bottom: auto;
}
#p1{
    margin-left: 30px;
    font-size: 20px;
    color: black;
    position: relative;
}
#div-home-page{
    position: relative;
    padding: 15px 15px;
    border-radius: 20%;
    /*aici la before trebuie o imagine*/
    &::before {
        content: '';
        top: 0px;
        right: 0px;
        bottom: 0px;
        left:0px;
        position: absolute;
        background-image: url(images/home-modified.jpg);
        background-position: top center;
        background-size: cover;
        opacity: 0.2;
    }
}
#header-istoric{
    text-align: right;
    font-size: 50px;
}

#div-istoric{
    margin: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-items: right;
    padding: 30px;
}
#div-istoric #p-istoric{
    text-align: right !important;
    font-size: 20px;
    margin-right: 0px;
    margin-left: 80px;
}
#p-istoric{
    padding-left: 80px;
}
#img-istoric {
    height: 300px;
    width: 500px;
    border-radius: 25px;
    margin-top: 0px;
}
#div-metode{
    overflow: auto;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header-metode{
    text-align: center;
    font-size: 50px;
    padding-bottom: 40px;
}

.div-DBS, #div-BCI {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    float: left;
    width: 600px;
    height: auto;
    
    padding: 20px;
    border-radius: 25px;
    background-position: center;
    box-sizing: border-box;
    text-align: center;
    color: black;
}
.div-DBS{
    background-image:url(images/dbs.jpg);
    margin-left: 200px;
    background-size: cover;
}
#div-BCI{
    background-image: url(images/bci.jpg);
    background-size: cover;
    margin-right: 200px;
}
#header1-DBS,#header1-BCI{
    text-align: center;
    font-size: 40px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 12px;
    transition: opacity 0.5s ease;
}

#header2-DBS,#header2-BCI{
    text-align: center;
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 12px;
    transition: opacity 0.5s ease;
}
#p-DBS, #p-BCI{
    padding:10px 25px 10px 25px;
    font-size: 20px;
    text-align: justify;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 12px;
    transition: opacity 0.5s ease;
    
}

.div-DBS:hover h1,
.div-DBS:hover h3,
.div-DBS:hover p {
    opacity:0;
}

.div-BCI:hover h1,
.div-BCI:hover h3,
.div-BCI:hover p {
    opacity:0;
}

#header1-rezultate{
    text-align: center;
    font-size: 50px;
    padding-bottom: 40px;
}

.headerst{
    text-align: left;
    font-size: 40px;
}
.headerdr{
    text-align: right;
    font-size: 40px;
}
.p-st{
    text-align: left;
    font-size: 20px;
    width: 60%;
}
.p-dr{
    text-align: justify right;
    font-size:20px;
    width: 60%;
    margin-left: 670px;

}
#div-butoane {
    display: flex;
    align-items: center;
}


#container-fim {
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-rez{
    margin: 60px;
}
.fim {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}


#butoane-grup {
    display: flex;
    align-items: center;
    margin-left: auto; 
    gap: 50px;
    border-radius: 25px;
}
#a,#b, #c, #d, #e, #f {
    display: flex;
    align-items: center;
    margin-left: auto; 
    gap: 40px;
    border-radius: 25px;
    border: 2px solid rgba(229,25,34,255);
    width: 150px;
    
}



.butoane {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1px;
    padding-bottom: 1px;
    width: 200px;
    height: 40px;
    font-size: 20px;
    font-weight: 500;
    background-color: rgb(247, 247, 247);
    
    border-width: 20px;
    border-color:rgba(229,25,34,255);
    border-radius: 25px;
    color: black;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.butoane:hover {
    background-color: rgb(201, 197, 197);
}

#header1-viitor{
    text-align: center;
    font-size: 40px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    width: 100%;
  }
  .cell {
    border: 3px solid black;
    height: 600px;
    border-radius: 40px;
    padding: 20px;
    text-align: center;
  }

  #cell1{
    background-image: url(images/optogenetica2.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

  }
  #p-viitor{
    display: block;
    width: 155px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    color:white;
    border-radius: 25px;
    text-decoration: none;
    background-color: rgb(72, 141, 245);
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    bottom: 0px;
    opacity: 0;
    transition: opacity 0.5s ease-in;
  }
  #cell1:hover #p-viitor{
    display: block;
    position: relative;
    top: 550px;
    opacity: 1;
    transition: opacity 0.5s ease-in;
  }
  #cell2{
    background-image: url(images/crioelectronica2.png);
    background-size: cover;
  }
  #cell2:hover #p-viitor{
    display: block;
    position: relative;
    top: 550px;
    opacity: 1;
    transition: opacity 0.5s ease-in;
  }
  #cell3{
    background-image: url(images/Inginerie\ Neurală\ și\ Biologie\ Sintetică.png);
    background-size: cover;
  }
  #cell3:hover #p-viitor{
    display: block;
    position: relative;
    top: 550px;
    opacity: 1;
    transition: opacity 0.5s ease-in;
  }
  #cell4{
    background-image: url(images/Comunicare\ între\ creiere.png);
    background-size: cover;
  }
  #cell4:hover #p-viitor{
    display: block;
    position: relative;
    top: 550px;
    opacity: 1;
    transition: opacity 0.5s ease-in;
  }




  
