body{
    margin-left: 25px;
    margin-right: 25px;
    background-color: rgb(247, 247, 247);
    font-family:'Open Sans', sans-serif;
    font-size: 16px;
}
.continut{
    padding: 20px;
    background-color: rgb(240, 240, 240);
    border-radius: 25px;
}
.text{
    background-color:#e4e4e4 ;
    border-radius: 30px;
}
#div-butoane {
    display: flex;
    align-items: center;
}
#container-fim {
    display: flex;
    align-items: center;
    justify-content: center;
}
#xx{
    display: none;
    
    
}
#imgx{
    display: none;
}
#xx a {

display: none;


}

.fim {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}
#butoane-grup {
    display: flex;
    gap: 40px;
    align-items: center;
    margin-left: auto;
}
#a,#b, #c, #d, #e, #f {
    display: flex;
    align-items: center;
    margin-left: auto; 
    gap: 40px;
    border-radius: 25px;
    border: 2px solid rgba(229,25,34,255);
    width: 150px;
    
}
.butoane {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1px;
    padding-bottom: 1px;
    width: 150px;
    height: 40px;
    font-size: 20px;
    font-weight: 500;
    background-color: rgb(247, 247, 247);

    border-width: 2px;
    border-style: solid; 
    border-color: rgba(229, 25, 34, 1);
    border-radius: 25px;
    color: black;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.butoane:hover {
    background-color: #dcdcdc;
}
.sociale {
    display: flex;
    gap: 20px;
}


.dropdown {
    position: relative;
    display: flex;
    flex-direction: column;
}


.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    border-radius: 15px;
    min-width: 130px;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    flex-direction: column;
}


.dropdown-content a {
    padding: 10px 15px;
    text-decoration: none;
    color: #000;
    display: block;
}


.dropdown:hover .dropdown-content {
    display: flex;
}


.dropdown-content a:hover {
    background-color: #f1f1f1;
    border-radius: 15px;
}


.butoane:hover {
    background-color: rgb(201, 197, 197);
}
.sociale a{
    background-color: rgb(226, 219, 219);
    border-radius: 50%;
    height: 32px;
    width: 32px;
    box-sizing: border-box;
    flex-shrink: 0;
    display: grid;
    place-items: center;
    box-shadow: 0 5px 10px rgba(0,0,0,0.05);
}
.sociale a svg{
    height: 16px;
    margin-top:0;
}
.sociale a::before{
    content: attr(data-sociale);
    position: absolute;
    background-color: var(--accent-color);
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 100px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.05);
    transform: translateY(-30px) rotate(25deg);
    opacity: 0;
    transition: 200ms cubic-bezier(.42, 0, .44, 1.68);
}
.sociale a:hover{
    background-color: var(--accent-color);
    fill:white;
}
.sociale a::after{
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid var(--accent-color);
    transform: translateY(0) rotate(25deg);
    opacity: 0;
    transition: 200ms cubic-bezier(.42, 0, .44, 1.68);
}
.sociale a:hover::before{
    transform: translateY(-65px) rotate(0);
    opacity: 1;
}
.sociale a:hover::after{
    transform: translateY(-42px) rotate(0);
    opacity: 1;
}
.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    background: #f1f1f1;
    padding: 20px 0 0 0;
}
.copyright h1, .copyright h3 {
    font-size: 14px;
    color: #333;
    text-align: center;
    margin-top: 10px;
}
.div-footer {
    font-size:14px;
}
.header-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap:50px;
    font-size:20px;
}
.header-col{
    display: flex;
    flex-direction: column;
}
.header-image {
    width: 350px;
    height: 300px;
    border-radius:25px;
}

#header-caracteristici{
    text-align: center;
    font-size: 40px;
}
.container-caracteristici-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
}
.container-caracteristici-col1, .container-caracteristici-col2, .container-caracteristici-col3 {
    width: 100%;
    margin:30px;
    font-size: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #fcf9f4;
    border-radius: 25px;
}
.caracteristici-invaziva, .caracteristici-parcial-invaziva, .caracteristici-non-invaziva {
    border-radius: 25px;
    width: 100%;
    height: auto;
}
#header-tehnici{
    text-align: center;
    font-size: 40px;
}
#header-teh{
    text-align: center;
    font-size:20px;
}
.EEG, .MEG{
    display: flex;
    flex-direction: row;
    text-align: right;
    justify-content: space-around;
    font-size:20px;

}
.fNIRS, .fMRI{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: left;
    font-size: 20px;
}
.img-eeg, .img-meg, .img-fnirs, .img-fmri {
    display: flex;
    width: 200px;
    height: auto;
    border-radius: 25px;
    object-fit: cover;
}
#text-fNIRS, #text-fMRI {
    width: 1152px;
    text-align: left;
    font-size: 20px;
    margin-top: 20px;
}
.div-footer b{
    color: #333;
}

@media screen and (max-width: 960px) {
  #butoane-grup {
    display: none;
        flex-direction: column;
        gap: 20px;
    }
    .butoane {
        font-size: 16px;
    }

    .sociale {
        justify-content: center;
        gap: 15px;
    }

    #div-contact {
        margin-top: 30px;
    }
    #xx:hover {
    z-index: 10;
        display: block;
        position: absolute;
        right: 10px;
        top:-2px;
        background-color: rgba(238, 238, 238, 0.9);
        transform: 0.4s ;
        
    }
    #imgx{
        display: block;
    }
    #xx{
    display: none;
    position: absolute;
    right:  10px;
    top:-2px;
    display: block;
    width: 143px;
    height: 350px;
    border-radius: 25px;
    transition: 0.5s ease;
    margin:2px;
    
}
#imgx{
    position: absolute;
    right: 10px;
    top: 5%;
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}
    #xx a {
text-align: center;
padding-bottom: 10px;
padding-top: 10px;
margin-top: 10px;
margin-bottom: 10px;
text-decoration: none;

color: black;
display: none;
flex-direction: column;
position: relative;
right: -20px;
top:80px;
font-size: 14px;
width: 100px;
border-radius: 25px;

}
    #xx:hover {
        display: block;
        position: absolute;
        right: 10px;
        top:-2px;
        background-color: rgba(238, 238, 238, 0.8);
        transform: 0.4s ;
    }
    #xx:hover a{
        display: flex;
          justify-content:  center;
        flex-direction: column;
        border:1px solid red;
    }
    #xx a:hover{
        background-color: rgba(204, 204, 204, 0.4);
    }
    .sociale a {
        background-color: rgb(226, 219, 219);
        padding: 0.5em;
        border-radius: 50%;
        height: 34px; 
        width: 34px; 
        box-sizing: border-box;
        flex-shrink: 0;
        display: grid;
        place-items: center;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05); 
    }
    #p-contact {
        font-size: 16px;
        text-align: center;
    }

    #div-copyright {
        font-size: 10px;
        position: static;
        margin-top: 20px;
        text-align: center;
    }
    #header-footer{
        font-size: 20px;
        padding-bottom: 15px;
        font-weight: 1000;
    
    }
    .header-row {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        text-align: center;
    }
    .header-image{
        width: 70%;
        height: auto;
    }
    .container-caracteristici-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .container-caracteristici-col1, .container-caracteristici-col2, .container-caracteristici-col3 {
    width: 100%;
    margin: 30px;
    font-size: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #fcf9f4;
    border-radius: 25px;
    }
    .container-tehnici{
        display: flex;
        flex-direction: column;
    }
    .EEG, .MEG, .fNIRS, .fMRI {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
     hr {
    border: 1px solid #333;
    height: 0;
    margin: 20px 0;
}
.fNIRS div{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#text-fNIRS{
    width: 300px;
    display: flex;
    text-align: center;
}
.footer{
    display: flex;
    flex-direction: column;
}
.div-footer {
    font-size: 12px;
    text-align: center;

}
h2#MEG{
   text-align: center;
    font-size: 25px;
}
}
